.r-label {
    padding: 2px 10px;
    font-size: 14px;
    border-radius: 4px;
    display: inline;
    color: #fff;
    margin-right: 8px;
    font-weight: 500;
    text-transform: uppercase;
}

.r-label-free {
    background-color: #008040;
}

.r-label-occ {
    background: #d81b60;
}